/*================================== Main Body styling ==================================*/
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}   
a:hover{
    color: rgb(255, 133, 133);
}
li{
    list-style: none;
}
p{
    text-align: justify;
}
body{
    margin-block-start: -21px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*==================================       PAGE 01       ==================================*/
/*================================== MAIN HEADER STYLING ==================================*/
#mainheader{
    background-color: rgb(190, 200, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-block-start: 50px;
    padding-left: 170px;
    padding-right: 170px;
}
#mainheader > h1{
    color: white;
    font-size: 64px;
    margin: 0
}
#mainheader > h2{
    color: darkblue;
    font-size: 36px;
    margin-top: 15px;
}
#mainnav{
    background-color: rgb(155, 82, 82);
    margin-inline-start: -170px;
    margin-inline-end: -170px;
}
#mainnav > ul {
    padding-inline-start: 160px;
    padding-inline-end: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#mainnav > ul > li {
    display: inline;
    font-size: 28px;
    font-weight: normal;
    margin: 0 10px;
}
#accueil{
    color: rgb(100, 19, 19);
    text-decoration: none;
    font-weight: bold;
}
#nospokemon{
    color: rgb(100, 19, 19);
    text-decoration: none;
    font-weight: bold;
}
/*================================== MAIN CONTENT STYLING ==================================*/
main {
    margin-block-start: 50px;
    margin-inline-start: 170px;
    margin-inline-end: 170px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#flower{
    width: 100%;
    height: auto;
}
/*============ ARTICLE 01 ============*/
#article01{
    background-color: rgb(204, 204, 204);
    padding: 25px;
    margin-block-start: 30px;
    margin-right: 450px;
    padding-bottom: 40px;
}
#article01 > header > h2{
    font-size: 36px;
    display: inline;
    margin: 0px;
}
#article01> header > h3{
    font-size: 24px;
    margin: 0px;
}
#author{
    font-size: 18px;
}
#article01 > a{
    float: inline-end;
    color: black;
}
/*============ ARTICLE 02 ============*/
#article02{
    background-color: rgb(204, 204, 204);
    padding: 25px;
    margin-block-start: 30px;
    padding-top: 10px;
    margin-left: 400px;
    margin-right: 450px;
}
#article02 > h3{
    text-align: center;
}
#box01{
    margin-top: -290px;
    width: 375px;
    height: 290px;
    background-color: rgb(204, 204, 204);
}
#box02{
    float: right;
    margin-top: -290px;
    width: 425px;
    height: 290px;
    background-color: rgb(204, 204, 204);
}
/*============ CATEGORIES SECTION ============*/
#categories{
    float: right;
    margin-block-start: -950px;
    margin-inline-end: 170px;
}
#categories > h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}
#categoriesnav{
    width: 425px;
    height: 542px;
    background-color: rgb(185, 99, 99);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
#categoriesnav > ul{
    padding-inline-start: 40px;
    padding-block-start: 20px;
}
/*=================== FOOTER ======================*/
#footer{
    background-color: gray;
    height: 150px;
    margin-block-start: 100px;
    margin-block-end: -10px;
    text-align: center;
    padding-block-start: 75px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*==================================       PAGE 02       ==================================*/
/*==================================  Template Pokemon   ===================================*/
.pokemontemplate{
    background-color: rgb(204, 204, 204);
    margin-block-start: 0px;
    margin-block-end: 50px;
    margin-inline-start: 400px;
    margin-inline-end: 0px;
    padding: 40px;
}
.pokemontemplate > h2{
    font-size: 36px;
    margin: 0px;
    display: inline-block;
}
#élément{
    display: inline;
}
.pokemontemplate > h3{
    margin: 0px;
}
.pokemonimg{
    width: 400px;
    height: 440px;
    float: left;
    clear: left;
    margin-inline-start: -20px;
}